
/* TimePlayer on Map */
.leaflet-bar-timecontrol {background-color: transparent; box-shadow: none; }
.leaflet-bar-timecontrol .leaflet-control-timecontrol {background-color: transparent; border: none; margin: 7px 0px 7px 145px;}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar { border-color: transparent; }
.timecontrol-slider .slider {height: 24px; margin: 2px 0px 0px 160px;border-radius: 15px; border: 2px solid #000; width: calc(100vw - 645px) !important;}
.timecontrol-slider .knob {width: 34px; height: 34px; border: none; margin-top: -8px; margin-left: -15px; background: url(../images/player/point.svg) center/cover no-repeat;}
.timecontrol-slider .knob:after { display: none;}

.player-controller { position: absolute; z-index: 1010; bottom: 10px; left: 10px;}
.player { display: flex; }
.move-to-top-left { animation: movetotopleft 1s ease 0s; animation-direction: normal;}

/* new play button */
.player-control-button { margin-right: 5px; width: 40px; height: 40px; cursor: pointer;}
.player-control-button.play-button { background: url(../images/player/play.svg) center/cover no-repeat; background-size: auto 32px;}
.player-control-button.play-button.paused { background: url(../images/player/pause.svg) center/cover no-repeat; background-size: auto 32px;}
.player-control-button.move-to-end-button { width: 50px; background: url(../images/player/end.svg) center/cover no-repeat; background-size: auto 42px;}
.player-control-button.speed-button { border: 2px solid #000; border-radius: 50%;}
.player-control-button.speed-button.x1-fps { background: url(../images/player/1x.png) center/cover no-repeat; }
.player-control-button.speed-button.x2-fps { background: url(../images/player/2x.png) center/cover no-repeat; }
.player-control-button.speed-button.x4-fps { background: url(../images/player/4x.png) center/cover no-repeat; }
.player-control-button.next-button { background: url(../images/player/next.svg) center/cover no-repeat; background-size: auto 40px;}
.player-control-button.previous-button { background: url(../images/player/previous.svg) center/cover no-repeat; background-size: auto 40px;}
.player-control-button.move-to-first-button { width: 50px; background: url(../images/player/first.svg) center/cover no-repeat; background-size: auto 42px;}

@keyframes pulse-border {
  0%   {transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);opacity: 1;}
  100% {transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.4); opacity: 0;}
}
@keyframes movetotopleft {
  0%   {left: 50%; top: 50%; }
  100% { left: 140px;top: calc(100vh - 100px); opacity: 0.5}
}